<header> 
    <div class="container1">
        <div class="secondo-div-container1">
            <li class="icone-container1">
                 <img src="assets/icons/jordan.png" id="iconajordan"> <!--assets/icons/jordan.png -->
            </li>
            <li>
                <img src="assets/icons/converse.png" id="iconaconverse">
            </li>
        </div>
        <nav class="nav-del-menu-alto-dx">
            <ul>
                <li>
                    <p id="testo-menu-container1">Trova un negozio</p>
                </li>
                <li>
                    <div class="lineaverticale"></div>
                </li>
                <li>
                    <p id="testo-menu-container1">Aiuto</p>
                    <ul>
                        <li><p>Aiuto</p></li>
                        <li><p>Stato ordine</p></li>
                        <li><p>Spedizione e consegna</p></li>
                        <li><p>Restituzioni</p></li>
                        <li><p>Tabelle delle taglie e delle misure</p></li>
                        <li><p>Contattaci</p></li>
                        <li><p>Informativa sulla privacy</p></li>
                        <li><p>Condizioni di vendita</p></li>
                        <li><p>Condizioni d'uso</p></li>
                        <li><p>Invia feedback</p></li>
                    </ul>
                </li>
                <li>
                    <div class="lineaverticale"></div>
                </li>
                <li>
                    <p id="testo-menu-container1">Unisciti a noi</p>
                </li>
                <li>
                    <div class="lineaverticale"></div>
                </li>
                <li>
                <p id="testo-menu-container1">Accedi</p>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container2">
        <div class="container-logo-nike">
            <img src="assets/icons/logo.png" id="logonike-principale">
        </div>
        <nav class="nav-menu-container-2">
            <ul class="ul-menu-2">
                <li id="menu-orizzontale-2" class="asd"><p>Novità e in evidenza</p>
                    <div id="div-1-menu-orizzontale-2">
                        <div id="div-2-menu-orizzontale-2">
                            <ul id="primo-ul-di-menu-orizzontale">
                                <li>In evidenza</li>
                                <li><p>Tutti i nuovi arrivi</p></li>
                                <li><p>Best seller</p></li>
                                <li><p>Member Shop</p></li>
                                <li><p>Calendario dei lanci SNKRS</p></li>
                                <li><p>Shop Air</p></li>
                                <li><p>Summer of sport</p></li>
                                <li><p>I must-have per il rientro a scuola</p></li> 
                            </ul>
                            <ul>
                                <li>le icone</li>
                                <li><p>Air Force 1</p></li>
                                <li><p>Air Jordan 1</p></li>
                                <li><p>Air Max</p></li>
                                <li><p>Dunk</p></li>
                                <li><p>Blazer</p></li>
                                <li><p>Pegasus</p></li>
                                <li><p>Mercurial</p></li>
                            </ul>
                            <ul>
                                <li>Scopri lo sport</li>
                                <li><p>Calcio</p></li>
                                <li><p>Running</p></li>
                                <li><p>Basket</p></li>
                                <li><p>Fitness</p></li>
                                <li><p>Golf</p></li>
                                <li><p>Tennis</p></li>
                                <li><p>Yoga</p></li>
                                <li><p>Danza</p></li>
                                <li><p>Skateboard</p></li>
                            </ul>
                            <ul>
                                <li>Di tendenza</li>
                                <li><p>Air Max Home</p></li>
                                <li><p>Sneakers Y2K</p></li>
                                <li><p>Nike Style By</p></li>
                                <li><p>Teenager</p></li>
                                <li><p>EasyOn</p></li>
                                <li><p>Idee regalo Nike</p></li>
                                <li><p>Sostenibilità</p></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="asd"><p>Uomo</p></li>
                <li class="asd"><p>Donna</p></li>
                <li class="asd"><p>Kids</p></li>
                <li class="asd"><p>Offerte</p></li>
            </ul> 
        </nav>
        <div class="div-menu-searchbar-2"> 
           <div id="searchbar-container">
                <div id="searchbar">
                    <p>Cerca</p>
                    <div id="div-icona-cerca">
                        <img src="assets/icons/search.png" id="icona-cerca">
                    </div>
                </div>
            </div>
            <div id="div-icona-preferiti">
                <img src="assets/icons/preferiti.png" id="icona-preferiti">
            </div>
            <div id="div-icona-carrello">
                <img src="assets/icons/bag.png" id="icona-carrello">
            </div>
        </div>
    </div>
    <div class="container3"> 
        <!--da fare la scritta dinamica-->
    </div>
</header>