<section id="hero-banner"> 
    <div id="container-titolo">
        <h1 id="titolo">REGALA IL MEGLIO</h1>
        <h4 id="sottotitolo">Ispirazione e movimento: il regalo perfetto.</h4>

        <div id="contenitore-bottoni">
            <div id="bottoneAcquista">
                    <p>Acquista</p>
            </div>
            <div id="bottoneBambini">
                    <p>Bambini</p>
            </div>
        </div>
    </div>
    <img src="assets/Immagini/img_home_page/hero-banner.jpg" id="img-hero-banner" alt="due ragazzi che corrono, lo sfondo è blu">
</section>
<section>
    <div class="container-button-next-prev">
        <button class="next" id="next1"><img class="img-next" src="assets/icons/next.png" width="30" height="30"></button>
        <button class="prev" id="prev1"><img class="img-prev" src="assets/icons/prev.png" width="30" height="30"></button>
    </div>
    <p>Trend della settimana</p>
    <div class="scroll-container">
        <ul id="ul-scroll-laterale1">        
            <li>
                <a href="pages/product_1.html">
                    <img src="assets/Immagini/img_home_page/scarpa_1.jpg" id="img1" alt="dunk verde" width="500" height="500">
                </a>
                <a href="pages/product_1.html">
                    <h4><b>Nike Dunk Low</b></h4>
                </a>
                <p>Scarpa uomo</p>
                <p><b>120€</b></p>
            </li>
            <li>
                <a href="pages/product_2.html">
                    <img src="assets/Immagini/img_home_page/scarpa_7.jpg" id="img7" alt="dunk bianca nera" width="500" height="500">
                </a>
                <a href="pages/product_2.html">
                    <h4>Nike Dunk Retro</h4>
                </a>
                <p>Scarpa donna</p>
                <p><b>130€</b></p>
            </li>
            <li>
                <img src="assets/Immagini/img_home_page/scarpa_2.jpg" id="img2" alt="air force nera" width="500" height="500">
                <h4>Air Force One</h4>
                <p>Scarpa donna</p>
                <p><b>130€</b></p>
            </li>
            <li>
                <img src="assets/Immagini/img_home_page/scarpa_3.jpg" id="img3" alt="dunk grigia" width="500" height="500">
                <h4>Nike Dunk</h4>
                <p>Scarpa uomo</p>
                <p><b>120€</b></p>
            </li>
            <li>
                <img src="assets/Immagini/img_home_page/scarpa_4.jpg" id="img4" alt="air force bianca" width="500" height="500">
                <h4>Air Force One</h4>
                <p>Scarpa donna</p>
                <p><b>130€</b></p>
            </li>
            <li>
                <img src="assets/Immagini/img_home_page/scarpa_5.jpg" id="img5" alt="air jordan nera" width="500" height="500">
                <h4>Air Jordan</h4>
                <p>Scarpa uomo</p>
                <p><b>119€</b></p>
            </li>
            <li>
                <img src="assets/Immagini/img_home_page/scarpa_6.jpg" id="img6" alt="air max nera" width="500" height="500">
                <h4>Nike Air Max Plus</h4>
                <p>Scarpa donna</p>
                <p><b>139€</b></p>
            </li>
            <li>
                <img src="assets/Immagini/img_home_page/scarpa_8.jpg" id="img8" alt="dunk bianca argento" width="500" height="500">
                <h4>Nike Dunk SE</h4>
                <p>Scarpa donna</p>
                <p><b>150€</b></p>
            </li>
        </ul>
    </div>
</section>
<section> 
    <div class="container-button-next-prev">
        <button class="next" id="next2"><img class="img-next" src="assets/icons/next.png" width="30" height="30"></button>
        <button class="prev" id="prev2"><img class="img-prev" src="assets/icons/prev.png" width="30" height="30"></button>
    </div>
    <p>Acquista per sport</p>
    <div class="scroll-container">
        <ul id="ul-scroll-laterale2">
            <li>
                <div class="divBottoniScroll"><button class="buttonScroll" width="90" height="30">Calcio</button></div>
                <img src="assets/Immagini/img_home_page/sport_1.jpg" alt="ragazza che tira la palla da calcio" width="590" height="400">
            </li>
            <li>
                <div class="divBottoniScroll"><button class="buttonScroll" width="90" height="30">Danza</button></div>
                <img src="assets/Immagini/img_home_page/sport_2.jpg" alt="ragazzo che balla" width="590" height="400">
            </li>
            <li>
                <div class="divBottoniScroll"><button class="buttonScroll" width="90" height="30">Basket</button></div>
                <img src="assets/Immagini/img_home_page/sport_3.jpg" alt="ragazza che gioca a basket" width="590" height="400">
            </li>
            <li>
                <div class="divBottoniScroll"><button class="buttonScroll" width="90" height="30">Tennis</button></div>
                <img src="assets/Immagini/img_home_page/sport_4.jpg" alt="ragazzo con la racchetta da tennis" width="590" height="400">
            </li>
            <li>
                <div class="divBottoniScroll"><button class="buttonScroll" width="90" height="30">Fitness</button></div>
                <img src="assets/Immagini/img_home_page/sport_5.jpg" alt="donna pratica del fitness" width="590" height="400">
            </li>
            <li>
                <div class="divBottoniScroll"><button class="buttonScroll" width="90" height="30">Atletica</button></div>
                <img src="assets/Immagini/img_home_page/sport_6.jpg" alt="ragazzo che corre" width="590" height="400">
            </li>
        </ul>
    </div>
</section>
<section>
    <div class="container-button-next-prev">
        <button class="next" id="next3"><img class="img-next" src="assets/icons/next.png" width="30" height="30"></button>
        <button class="prev" id="prev3"><img class="img-prev" src="assets/icons/prev.png" width="30" height="30"></button>
    </div>
    <p>Membership Nike</p>
    <div class="scroll-container">
        <ul id="ul-scroll-laterale3">
            <li>
                <div class="divBottoniScroll"><button class="buttonScroll" width="90" height="30">Personalizza</button></div>
                <img src="assets/Immagini/img_home_page/banner_1.jpg" alt="ragazza che tiene in mano una sneackers" width="450" height="450">
            </li>
            <li>
                <div class="divBottoniScroll"><button class="buttonScroll" width="90" height="30">Acquista</button></div>
                <img src="assets/Immagini/img_home_page/banner_2.jpg" alt="ragazza circondata da scatole di scarpe" width="450" height="450">
            </li>
            <li>
                <div class="divBottoniScroll"><button class="buttonScroll" width="90" height="30">Condividi</button></div>
                <img src="assets/Immagini/img_home_page/banner_3.jpg" alt="ragazzi che visualizzano il sito nike.com dallo smartphone" width="450" height="450">
            </li>
            <li>
                <div class="divBottoniScroll"><button class="buttonScroll" width="90" height="30">Festeggiamo</button></div>
                <img src="assets/Immagini/img_home_page/banner_5.jpg" alt="una coppia con lo smartphone in primo piano" width="450" height="450">
            </li>
            <li>
                <div class="divBottoniScroll"><button class="buttonScroll" width="90" height="30">Inizia a muoverti</button></div>
                <img src="assets/Immagini/img_home_page/banner_6.jpg" alt="due ragazze sportive che si abbracciano" width="450" height="450">
            </li>
        </ul>
    </div>
</section>