/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}


//da finire
@media (max-width: 768px) {
    .container1, .container2, .container3 {
        flex-direction: column;
    }
    .nav-menu-container-2 {
        width: 100%;
        padding: 10px 0;
    }
    .div-menu-searchbar-2 {
        width: 100%;
        margin-top: 10px;
    }
}