/* You can add global styles to this file, and also import other style files */

*{
    color: #1f1f1f;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}